.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
  cursor: pointer;
  text-align: center;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  font-size: larger;
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Lobster', cursive;

}
.winner {
  font-weight:bold;
  color:green;
}

.loser {
  color: #4ECCA3;
  font-weight: normal;
}

.message p {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

.invis {
  display: none;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}


